h1,
p {
  font-family: Lato;
}

.container {
  display: flex;
  justify-content: flex-start;
  margin-left: -10px;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  flex: 0.5;
  padding-left: 10px;
  height: 300px;
  border: 1px solid grey;
}
